<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
    <style>
      body {
        font-family: Arial, sans-serif;
        line-height: 1.4;
        color: #333333;
      }

      p {
        margin: 5px 0;
      }

      strong {
        font-weight: bold;
      }
    </style>
  </head>
  <body>
    <strong><p>Sorry! The buy request has been canceled.</p></strong>
    <p>Thank you for choosing Second Wheel to get your dream car.</p>
    <p>Book an appointment for another car from your dashboard and get your dream car as soon as possible.</p>
  </body>
</html>
