<div class="row">
  <div class="col-lg-3 sidebar">
    <%= render 'dashboard/sidebar' %>
  </div>
  <div class="col-lg-9 content">
    <div class="container">
      <div class="col-md-12 mb-3 mt-3">
          <div class="row">
            <div class="col-lg-4">
              <div class="form-inline">
                <label for="roleFilter" class="me-2">Filter by Role:</label>
                <select class="form-select" id="roleFilter" onchange="applyFilters()">
                  <option value="">All</option>
                  <option value="buyer">Buyer</option>
                  <option value="seller">Seller</option>
                </select>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="form-inline">
                <label for="statusFilter" class="ms-4 me-2">Filter by Status:</label>
                <select class="form-select" id="statusFilter" onchange="applyFilters()">
                  <option value="">All</option>
                  <option value="pending">Pending</option>
                  <option value="processing">Processing</option>
                  <option value="investigating">Investigating</option>
                  <option value="ready_for_sell">Ready for Sell/Buy</option>
                  <option value="sold">Sold/Bought</option>
                  <option value="reject">Reject/Request Cancel</option>
                </select>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="form-inline">
                <label for="sortOption" class="ms-4 me-2">Sort by:</label>
                <select class="form-select" id="sortOption" onchange="changeSortOption(this.value)">
                  <option value="default">Default</option>
                  <option value="status-asc">Status (Ascending)</option>
                  <option value="status-desc">Status (Descending)</option>
                  <option value="role-asc">User Role (Ascending)</option>
                  <option value="role-desc">User Role (Descending)</option>
                  <option value="car-brand-asc">Car Brand (Ascending)</option>
                  <option value="car-brand-desc">Car Brand (Descending)</option>
                  <option value="car-model-asc">Car Model (Ascending)</option>
                  <option value="car-model-desc">Car Model (Descending)</option>
                  <option value="date-created-asc">Date Created (Newest First)</option>
                  <option value="date-created-desc">Date Created (Oldest First)</option>
                  <option value="appointment-date-asc">Appointment Date (Newest First)</option>
                  <option value="appointment-date-desc">Appointment Date (Oldest First)</option>
                </select>
              </div>
            </div>
          </div>
        </div>
      <div class="row mt-4">
          <%= render 'appointment_card_in_admin_dashboard'%>
      </div>
    </div>
  </div>
</div>
<%= javascript_pack_tag 'appointment_in_admin_dashboard', 'data-turbolinks-track': 'reload' %>
