<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
  <h1>Password reset link</h1>
  <p> Reset your password within 5 mins otherwise link will expire </p>
  <p><%= link_to 'Click me to reset your password', password_reset_url(token:@password_reset)%></p>
</body>
</html>
