<label class="mb-3 h6">List of already available Branches</label>
<div class="list-container" style="height: 500px;">
  <div class="list-content">
    <ul class="list-group" id="model-list">
      <% @branch.each do |branch| %>
      <% city_name = City.find_by(id: branch.city_id) %>
        <div class="d-flex row list-group-item">
          <div class="col-md-8"> <li class=""><%= branch.name %> ( <%= city_name.name %> )</div>
          <div class="col-md-1">
            <a class="btn btn-info ms-2" href="branch_details/<%= branch.id %>" role="button" target="_blank">Details</a>
          </div>
        </div>
      </li>
      <% end %>
    </ul>
   </div>
</div>
