<div class="row container-fluid">
  <div class="col-lg-5 d-flex justify-content-center align-items-center">
    <div class="content mt-4 d-flex flex-column ms-3  ">
        <% if logged_in? && session[:role] != "admin" %>
          <span class="h2 text-success"> Hello <%=current_user.name%>, you want to grab best car deals like we do? </span>
          <%if session[:role] == "buyer"%>
            <a href="/buyer_feed" class="btn btn-primary mt-3 col-md-4">Go to Dashboard</a>
          <%else%>
            <a href="/seller_dashboard" class="btn btn-primary mt-3 col-md-4">Go to Dashboard</a>
          <%end%>
        <%else%>
          <% if session[:role] != "admin"%>
            <span class="h2 text-success"> Hello visitor, you want to grab best car deals like we do? </span>
            <a href="/login" class="btn btn-primary mt-3 col-md-4">Login to continue</a>
          <%else%>
            <span class="h2 text-success"> Hello <%=current_user.name%>, help the world to grab their best deals</span>
            <% if logged_in? %>
              <a href="/admin_dashboard" class="btn btn-primary mt-3 col-md-5">Go to Admin Dashboard</a>
            <% else %>
              <a href="/login" class="btn btn-primary mt-3 col-md-4">Login to continue</a>
            <%end%>
          <%end%>
        <%end%>
    </div>
  </div>
  <div class="col-lg-6">
    <div class="content ms-5 mt-5">
      <img class= "img-fluid", src="https://mobirise.com/extensions/partneramp/financialconsultancy/assets/images/man-2.png" alt="">
    </div>
  </div>
</div>
