@media screen and (max-width: 1400px) {
  .my-container {
    max-width: 100% !important;
    margin: 0 auto;
  }
}
/* above desktop / 4k */
@media screen and (min-width: 1401px) {
  .my-container {
    max-width: 1550px;
    margin: 0 auto;
  }
}
